//app/components/organisms/BookList/BookList.module.scss
.bookList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

.bookItem {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}