//app/components/templates/MainTemplate/MainTemplate.module.scss
// components/templates/MainTemplate/MainTemplate.module.scss
.mainTemplate {
  // display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 1rem;
  }

  @media (max-width: 480px) {
    padding: 0.5rem;
  }
}